* {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.screen-1 {
  background: hsl(213deg 85% 97%);
  padding: 2em;
  border-radius: 20px;
  box-shadow: 0 0 2em hsl(231deg 62% 94%);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.logo {
  margin-bottom: 1em;
}

.login-btn {
  border-radius: 30px;
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: hsl(0deg 0% 37%);
  padding-top: 1em;
}
.signup-footer {
  text-align: center;
  font-size: 0.9em;
  color: hsl(0deg 0% 37%);
  padding-top: 1em;
}
.footer span {
  cursor: pointer;
}
