@media print {
  body * {
    visibility: hidden;
  }
  #shortage-modal-content,
  #shortage-modal-content * {
    visibility: visible;
  }
}

#shortage-modal-content {
  margin-bottom: 10px;
}
